.statistics-trends {
  width: 100%;
  table-layout: fixed;
}

.statistics-trends th {
  text-align: center;
  padding-right: 0em;
}

.statistics-trends td {
  text-align: center;
}

.statistics-trends .bar {
  padding: 0em;
  background-color: #000;
  border-right: 1px solid #ddd;
  height: 50px;
  vertical-align: top;
}

.statistics-trends .bar .foreground {
  position: relative;
  top: -1px;
  font-size: 0px;
  background-color: #ddd;
}

.statistics-trends .bar .target {
  position: relative;
  font-size: 1px;
  z-index: 1;
  border-width: 0px;
  border-bottom: 1px solid #f00;
}
